<div class="form-group">
  <h1 class="mb-3 font-weight-normal text-center">投稿編集</h1>
  <div class="text-center">
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <%= form_with model: [:public, @post] do |f| %>
    <div class="form-group text-center">
      <h5>画像</h5>
      <%= f.file_field :image %>
    </div>
    <div class="form-group text-center">
      <h5>概要</h5>
      <%= f.text_area :body %>
    </div>
    <div class="text-center">
      <%= f.submit '更新する' %>
    </div>
  <% end %>
</div>