<h1>投稿詳細</h1>
<%= image_tag @post.get_image(150, 150) %><br>
<%= link_to public_member_path(@post.member_id) do %>
 <%= image_tag @post.member.get_profile_image(50, 50) %>
<% end %>
投稿者：<%= @post.member.name %><br>
概要：<%= @post.body %><br>
投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %><br>
<%= link_to "編集", edit_public_post_path(@post) %><br>

<% if @post.member_id == current_member.id %>
  <%= link_to "削除", public_post_path(@post), method: :delete %>
<% end %>

<!--いいね機能-->
<div class="favorite-btn">
    <%= render 'public/favorites/favorite', post: @post %>
  </div>

<!--コメント機能-->
<div>
  <%= form_with model: [:public, @post, @post_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>

<div class="post-comment">
  <%= render 'public/post_comments/comment', post: @post %>
</div>

