  <div class="container">
    <div calss="row justify-content-center">
      <div class="col-12">
        <h1 class="text-center">Clothesgram</h1>
        <p class="text-center">
          ようこそClothesgramへ！<br>
          Clothesgramはファッション系のコミュニティサイトです。<br>
          様々な系統のファッションアイテムを共有、発見できます。<br>
          あなたも自分の好きなファッションアイテムを共有、発見してみませんか？<br>
        </p>

        <div calss="row justify-content-center">
          <div id="carouselExampleIndicators" class="carousel slide mt-4 mb-4 col-8 mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'top1.jpeg', size: "600x400", class: "d-block mx-auto" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'top2.jpg', size: "600x400", class: "d-block mx-auto" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'top3.jpg', size: "600x400", class: "d-block mx-auto" %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-wrapper col-6 mx-auto">
      <div calss="row justify-content-center">
        <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div calss="row justify-content-center">
        <%= link_to 'ログイン',new_member_session_path, class: "btn btn-primary btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div calss="row justify-content-center">
        <%= link_to '新規登録',new_member_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>