<h1>ユーザー詳細</h1>
<!--ユーザーの詳細-->
<div>
  <h3><%= @member.name %></h3>
  <%= image_tag @member.get_profile_image(100,100) %>
  <%= link_to "編集", edit_public_member_path(@post) %>
</div>

<!--ユーザーの投稿-->
<% @post.each do |post| %>
  <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.get_image(150, 150) %>
  <% end %>
  <p>概要：<%= post.body %></p>
  <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
<% end %>