<% if @genre.errors.any? %>
  <%= @genre.errors.count %>件のエラーが発生しました
  <ul>
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>ジャンル登録</h1>
<%= form_with model: @genre,url: admin_genres_path do |f| %>
  <div>
    <%= f.text_field :name %>
    <%= f.submit "追加" %>
  </div>
<% end %>

<h1>ジャンル一覧</h1>
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genres| %>
      <tr>
        <td><%= genres.name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genres.id) %></td>
        <td>
            <%= link_to "削除する", admin_genre_path(genres.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>